
@{
    ViewBag.Title = "ControlPanelhome";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 class="text-info">Restaurant Control Panel</h2>
<hr />
<table class="table table-responsive">
    <tr>
        <td><a href="/Restaurent/ControlPanel/AddFoodCategory"> Add Food Category</a></td>
        <td><a href="/Restaurent/ControlPanel/AddFoodItem"> Add Food Menu Item</a></td>
        <td><a href="/Restaurent/ControlPanel/ViewOrders"> View Customer Orders</a></td>

    </tr>

</table>


